
.button-small {
	padding:   0.1em 0.2em;
	font-size: var(--font-size-small);
}

/* FILLED BUTTONS */

.button-filled {
	background-color: var(--base-color-0);
	border:           1px solid var(--base-color-3);
	border-radius:    5px;
}

.button-filled:hover:not(.button-disabled) {
	background-color: var(--base-color-1);
}

.button-filled:active:not(.button-disabled) {
	background-color: var(--base-color-2);
}


/* GHOST BUTTONS */

.button-ghost {
	background-color: transparent;
	border:           1px solid var(--base-color-3);
	border-radius:    5px;
}

.button-ghost:hover:not(.button-disabled) {
	background-color: var(--base-color-1);
}

.button-ghost:active:not(.button-disabled) {
	background-color: var(--base-color-2);
}


/* TEXT BUTTONS */

.button-text {
	border:           1px solid transparent;
	border-radius:    5px;
}

.button-text:hover:not(.button-disabled) {
	background-color: var(--base-color-1);
}

.button-text:active:not(.button-disabled) {
	background-color: var(--base-color-2);
}