@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {

	--font-size-base:           13px;
	--font-size-small:          12px;

	--background-color-light-0: hsl(228, 23%, 94%);
	--background-color-light-1: hsl(228, 0%, 100%);

	--base-color-light-0:       hsl(228, 23%, 98%);
	--base-color-light-1:       hsl(231, 14%, 90%);
	--base-color-light-2:       hsl(228, 9%, 86%);
	--base-color-light-3:       hsl(228, 6%, 80%);

	--text-color-light-0:       hsl(0, 0%, 70%);
	--text-color-light-1:       hsl(0, 1%, 30%);
	--text-color-light-2:       hsl(0, 0%, 12%);


	--background-color-dark-0:  hsl(195, 3%, 25%);
	--background-color-dark-1:  hsl(195, 3%, 20%);

	--base-color-dark-0:        hsl(195, 3%, 23%);
	--base-color-dark-1:        hsl(195, 2%, 30%);
	--base-color-dark-2:        hsl(195, 2%, 33%);
	--base-color-dark-3:        hsl(195, 2%, 40%);

	--text-color-dark-0:        hsl(195, 3%, 55%);
	--text-color-dark-1:        hsl(0, 0%, 80%);
	--text-color-dark-2:        hsl(0, 0%, 90%);

	--overlay-color-light:      rgba(0, 0, 0, 0.3);
	--overlay-color-dark:       rgba(128, 128, 128, 0.3);

	--gradient-info:            linear-gradient(155deg, #7bdbff, #4855ff);
	--gradient-success:         linear-gradient(155deg, #a8e063, #56ab2f);
	--gradient-error:           linear-gradient(155deg, #ff512f, #dd2476);
	--gradient-warn:            linear-gradient(155deg, #f6d365, #fda085);

	--default-duration:         0.2s;

	font-family:                'Lato', sans-serif;
	font-size:                  var(--font-size-base);
}


.theme-dark {
	--background-color-0: var(--background-color-dark-0);
	--background-color-1: var(--background-color-dark-1);
	--base-color-0:       var(--base-color-dark-0);
	--base-color-1:       var(--base-color-dark-1);
	--base-color-2:       var(--base-color-dark-2);
	--base-color-3:       var(--base-color-dark-3);
	--text-color-0:       var(--text-color-dark-0);
	--text-color-1:       var(--text-color-dark-1);
	--text-color-2:       var(--text-color-dark-2);
	--overlay-color:      var(--overlay-color-dark);
}


.theme-light {
	--background-color-0: var(--background-color-light-0);
	--background-color-1: var(--background-color-light-1);
	--base-color-0:       var(--base-color-light-0);
	--base-color-1:       var(--base-color-light-1);
	--base-color-2:       var(--base-color-light-2);
	--base-color-3:       var(--base-color-light-3);
	--text-color-0:       var(--text-color-light-0);
	--text-color-1:       var(--text-color-light-1);
	--text-color-2:       var(--text-color-light-2);
	--overlay-color:      var(--overlay-color-light);
}




