.main-screen {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.main-screen > * {
	margin: 1em;
}

.btn-close {
	background-color:    #f4f5f7;
	color:               #3f3f40;
	border-radius:       5px;
	padding:             0.5em;

	cursor:              pointer;
	-webkit-user-select: none;
	-moz-user-select:    none;
	-ms-user-select:     none;
	user-select:         none;
}

.btn-close:hover {
	background-color: #ebecf0;
	color:            #1e1e1e;
}

.btn-close:active {
	background-color: #e2e3e7;
	color:            #1e1e1e;
}