.text-field {
	border-radius:  5px;
	border:         1px solid var(--base-color-3);

	position:       relative;
	display:        flex;
	flex-direction: row;
	align-items:    center;

	padding:        0.5em;
	gap:            1em;
}

.text-field-with-content > *:first-child {
	max-height: 1em;
}

.text-field:focus-within {
	background-color: var(--base-color-0);
}

.text-field > input {
	border:           none;
	background-color: transparent;
	font-size:        1em;
	padding:          0;
}

.text-field > input {
	color: var(--text-color-1)
}

.text-field-disabled > input,
.text-field-disabled > svg {
	color: var(--text-color-0);
	fill:  var(--text-color-0);
}

.text-field > input:invalid {
	box-shadow: none;
}

.text-field-not-editable > input {
	cursor: text;
}


.text-field-filled {
	background-color: var(--base-color-1);
}

.text-field-ghost {
	background-color: transparent;
}