.welcome-root {
	width:                 100%;
	height:                100%;
	display:               grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows:    1fr;
	cursor:                default;
	color:                 var(--text-color-1)
}


.hero-section {
	position: relative;
}

.hero-image,
.hero-overlay {
	position:              absolute;
	top:                   0;
	bottom:                0;
	left:                  0;
	right:                 0;
	background-repeat:     no-repeat;
	background-size:       cover;
	background-position-x: 100%;
	background-position-y: 0;
}

.hero-overlay {
}

.icon-image {
	margin:            25%;
	background-repeat: no-repeat;
	background-size:   contain;
}

.icon-image:after {
	content:        "";
	display:        block;
	padding-bottom: 100%;
}


.welcome-content {
	background-color:      var(--background-color-1);
	display:               grid;
	grid-template-columns: 1fr;
	grid-template-rows:    1fr 1fr 1fr;
}


.title-section {
	display:         flex;
	flex-direction:  column;
	align-items:     center;
	justify-content: center;
}

.title {
	font-size:   4em;
	font-weight: 300;
}


.subtitle {
	color:       var(--text-color-0);
	font-size:   0.8em;
	font-weight: bold;
}


.button-section {
	display:         flex;
	flex-direction:  column;
	align-items:     center;
	justify-content: center;
	gap:             10px;
}


.recent-section {
	display:         flex;
	justify-content: center;
}

.recent-content > * {
	display:         flex;
	align-content:   center;
	align-items:     center;
	justify-content: center;
}


.recent-content > *:first-child {
	font-weight: bold;
}

.recent-content > *:not(:first-child) {
	margin-top: 1px;
}


.dir-chooser {
	display:        flex;
	flex-direction: row;
	border-radius: 5px;
	background-color:      var(--base-color-0);
}

.dir-label {
	margin:      5px 0 5px 5px;
	flex-grow:   2;
	min-width:   10em;
	display:     flex;
	align-items: center;
}

.btn-choose-dir {
	margin:    5px;
	flex-grow: 0;
	padding:   0.25em !important;
	border: 1px solid var(--text-color-0)
}