.modal-header {
	padding:          1em 1em 1em 1em;
	margin-bottom:    2px;
	background-color: var(--background-color-1);

	display:          flex;
	justify-content:  space-between;
	align-items:      center;
}


.modal-title {
}


.modal-button-close {
	color:         var(--text-color-1);
	padding:       0.3em;
	border-radius: 5px;
}

.modal-button-close:hover {
	background-color: var(--base-color-1);
	color:            var(--text-color-2);
}

.modal-button-close:active {
	background-color: var(--base-color-2);
	color:            var(--text-color-2);
}

.modal-body {
	background-color: var(--background-color-1);
	padding:          1em 2em;
	min-height:       4em;
	display:          flex;
	align-items:      center;
}


.modal-footer {
	display:         flex;
	justify-content: flex-end;
	padding:         1em 2em;
	gap:             8px;
}