/*=== COMMON ===*/

.button {
	border-radius:       6px;
	padding:             0.3em 1em;
	cursor:              pointer;
	-webkit-user-select: none;
	-moz-user-select:    none;
	-ms-user-select:     none;
	user-select:         none;
	transition-duration: var(--default-duration);

	box-sizing:          border-box;
	-moz-box-sizing:     border-box;
	-webkit-box-sizing:  border-box;

	white-space:         nowrap;

	display:             flex;
	align-content:       center;
	align-items:         center;
	justify-content:     center;
}


.button > svg {
	width:  1.1em;
	height: 1.1em;
}


.icon-button {
	padding:        0.3em 0.3em;
	flex-direction: column;
	font-size:      0.8em;
}


.button:not(.icon-button) {
	gap: 4px
}


.button-disabled {
	cursor: default;
}


/*=== BUTTON NORMAL ===*/

.button-normal {
	background: var(--base-color-0);
	color:      var(--text-color-1);
}


.button-normal:hover,
.button-normal.button-selected {
	background: var(--base-color-1);
	color:      var(--text-color-2);
}


.button-normal:active {
	background: var(--base-color-2);
	color:      var(--text-color-2);
}


.button-normal.button-disabled {
	background: var(--base-color-0);
	color:      var(--text-color-0);
}


/*=== BUTTON GHOST ===*/

.button-ghost {
	background: none;
	border:     1px solid var(--base-color-1);
	color:      var(--text-color-1);
}


.button-ghost:hover,
.button-ghost.button-selected {
	border: 1px solid var(--base-color-2);
	color:  var(--text-color-2);
}


.button-ghost:active:not(.button-disabled) {
	background: var(--base-color-0);
}


.button-ghost.button-disabled {
	border: 1px solid var(--base-color-0);
	color:  var(--text-color-0);
}


/*=== BUTTON RAW ===*/

.button-raw {
	background:      none;
	border:          none;
	color:           var(--text-color-1);
}


.button-raw:hover,
.button-raw.button-selected {
	color: var(--text-color-2);
}


.button-raw.button-disabled {
	color: var(--text-color-0);
}
