/* ALL BUTTONS */

.button {
	cursor:              pointer;
	-webkit-user-select: none;
	-moz-user-select:    none;
	-ms-user-select:     none;
	user-select:         none;

	display:             flex;
	align-content:       center;
	align-items:         center;
	justify-content:     center;

	padding:             0.5em;
	gap:                 0.5em;
	color:               var(--text-color-1);
}

.button > svg {
	fill:   var(--text-color-1);
	stroke: var(--text-color-1);
}

.button:hover:not(.button-disabled),
.button:hover:not(.button-disabled) > svg {
	color:  var(--text-color-2);
	fill:   var(--text-color-2);
	stroke: var(--text-color-2);
}

.button:active:not(.button-disabled),
.button:active:not(.button-disabled) > svg {
	color:  var(--text-color-2);
	fill:   var(--text-color-2);
	stroke: var(--text-color-2);
}

.button-small {
	padding:   0.1em 0.2em;
	font-size: var(--font-size-small);
}

.button-disabled,
.button-disabled > svg {
	color:  var(--text-color-0);
	fill:   var(--text-color-0);
	stroke: var(--text-color-0);
}

/* FILLED BUTTONS */

.button-filled {
	background-color: var(--base-color-0);
	border:           1px solid var(--base-color-3);
	border-radius:    5px;
}

.button-filled:hover:not(.button-disabled) {
	background-color: var(--base-color-1);
}

.button-filled:active:not(.button-disabled) {
	background-color: var(--base-color-2);
}


/* GHOST BUTTONS */

.button-ghost {
	background-color: transparent;
	border:           1px solid var(--base-color-3);
	border-radius:    5px;
}

.button-ghost:hover:not(.button-disabled) {
	background-color: var(--base-color-1);
}

.button-ghost:active:not(.button-disabled) {
	background-color: var(--base-color-2);
}


/* TEXT BUTTONS */

.button-text {
	border:           1px solid transparent;
	border-radius:    5px;
	background-color: var(--base-color-1);
}

.button-text:hover:not(.button-disabled) {
	background-color: var(--base-color-1);
}

.button-text:active:not(.button-disabled) {
	background-color: var(--base-color-2);
}