.button {
	cursor:              pointer;
	-webkit-user-select: none;
	-moz-user-select:    none;
	-ms-user-select:     none;
	user-select:         none;
	padding:             0.5em;
	border-radius:       5px;
	transition:          0.15s;
}

.button-normal {
	background-color: var(--base-color-0);
	color:            var(--text-color-1);
}

.button-normal:hover {
	background-color: var(--base-color-1);
	color:            var(--text-color-2);
}

.button-normal:active {
	background-color: var(--base-color-2);
	color:            var(--text-color-2);
}


.button-ghost {
	/*TODO*/
}


.button-raw {
	color:           var(--text-color-1);
	text-decoration: underline;
}

.button-raw:hover {
	background-color: var(--base-color-1);
	color:            var(--text-color-2);
}

.button-raw:active {
	background-color: var(--base-color-2);
	color:            var(--text-color-2);
}