.specialized-button {
	position:        relative;
	padding: 1px;
	background-clip: padding-box;
	border-radius:   5px;
}

.specialized-button > .button {
	border:        none !important;
	border-radius: 4px !important;
}

.specialized-button-info {
	background: var(--gradient-info);
}

.specialized-button-valid {
	background: var(--gradient-success);
}

.specialized-button-error {
	background: var(--gradient-error);
}

.specialized-button-warn {
	background: var(--gradient-warn);
}



