.specialized-button-info {
	background: var(--gradient-info);
}

.specialized-button-valid {
	background: var(--gradient-success);
}

.specialized-button-error {
	background: var(--gradient-error);
}

.specialized-button-warn {
	background: var(--gradient-warn);
}
