.hl-button-wrapper {
	background: var(--base-color-3);
}

.hl-button {
	cursor:              pointer;
	-webkit-user-select: none;
	-moz-user-select:    none;
	-ms-user-select:     none;
	user-select:         none;

	display:             flex;
	align-content:       center;
	align-items:         center;
	justify-content:     center;

	padding:             0.5em;
	gap:                 0.5em;
	color:               var(--text-color-1);
}

.hl-button > svg {
	fill:   var(--text-color-1);
	stroke: var(--text-color-1);
}

.hl-button:hover:not(.hl-button-disabled),
.hl-button:hover:not(.hl-button-disabled) > svg {
	color:  var(--text-color-2);
	fill:   var(--text-color-2);
	stroke: var(--text-color-2);
}

.hl-button:active:not(.hl-button-disabled),
.hl-button:active:not(.hl-button-disabled) > svg {
	color:  var(--text-color-2);
	fill:   var(--text-color-2);
	stroke: var(--text-color-2);
}

.hl-button-disabled,
.hl-button-disabled > svg {
	color:  var(--text-color-0);
	fill:   var(--text-color-0);
	stroke: var(--text-color-0);
}